# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/

# VS Code
.vscode/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userprefs

# Windows image file caches
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# JetBrains Rider
.idea/
*.sln.iml
